@using DealerConceptsApp.Enums;
@using DealerConceptsApp.Models.ViewModels;
@model BaseViewModel

@{
    ViewBag.Title = "CreateAccount";
    Layout = "~/Views/Shared/_layoutDealer.cshtml";
}

@section styles{
<link href="~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" rel="stylesheet" />
<link href="~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
}

<div ng-controller="DealerRegistrationController as dealer">
    @*<div class="wrapper text-center">
        <div class="container">*@
            <!-- Begin Content -->
            <div class="col-md-12">
                <div class="row margin-bottom-40">
                    <div class="col-md-12">
                        <!-- Reg-Form -->
                        <form action="#" id="dealerRegForm" class="sky-form" name="dealer.dealerRegForm" ng-submit="dealer.submitRegForm()" novalidate>
                            <header>Dealer Registration Form</header>

                            <fieldset>
                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" ng-model="dealer.data.dealershipName" name="dealershipName" placeholder="Dealership Name">
                                        <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                                    </label>
                                </section>

                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="select">
                                            <select name="dealerType"
                                                    id="dealerType"
                                                    ng-model="dealer.data.dealerType"
                                                    ng-options="enumData.value as enumData.displayName for (enumName, enumData) in dealer.dealerDropDown"
                                                    ng-class="{'error': dealer.showNewDealerFormErrors && dealer.dealerForm.dealerRegistration.$invalid}"
                                                    required>
                                                <option value="">Type of dealer</option>
                                                @*<option value="0" selected disabled>Type of dealer</option>
                <option value="1">Franchise</option>
                <option value="2">Independent</option>*@
                                            </select>
                                        </label>
                                            <p class="errorMessage" ng-show="dealer.showNewDealerFormErrors && dealer.dealerForm.dealerRegistration.$error.required"></p>
                                            <i></i>
                                        
                                    </section>
                                </div>
                            </fieldset>

                            <header>Representitive Information</header>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input">
                                            <input type="text" name="firstname" placeholder="First name">
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <input type="text" name="lastname" placeholder="Last name">
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="select">
                                            <select name="dealerType">
                                                <option value="0" selected disabled>Title</option>
                                                <option value="1">Owner</option>
                                                <option value="2">General Manager</option>
                                                <option value="3">Manager</option>
                                                <option value="4">Other Authorized Personal</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                </div>

                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-envelope"></i>
                                        <input type="email" name="email" placeholder="Email address">
                                        <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="password" placeholder="Password" id="password">
                                        <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="passwordConfirm" placeholder="Confirm password">
                                        <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                    </label>
                                </section>
                            </fieldset>

                            <fieldset>
                                @*<section>
                                    <label class="checkbox"><input type="checkbox" name="terms" id="terms"><i></i>I agree with the Terms and Conditions</label>
                                </section>*@


                                <!-- Modal for Terms and Conditions-->
                                <button class="btn-u margin-bottom-5" data-toggle="modal" data-target="#responsive">Terms and Conditions</button>
                                <label class="checkbox"><input type="checkbox" name="terms" id="terms"><i></i>I agree with the Terms and Conditions</label>
                                <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel4">Terms and Conditions</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h6>I understand that it is the responsibility of the Dealership to review and fully understand all the language in the test drive aggreements provided by Dealer Concepts, LLC.. 
                                                        I hereby consent to voluntarily agree to submit any disputes with Dealer Concepts, LLC. to final and binding arbiration.</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <footer>
                                <button type="submit" class="btn-u">Submit</button>
                            </footer>
                        </form>
                        <!-- End Reg-Form -->
                    </div>
                </div>
            </div>
        </div>
    @*</div>
</div>*@

@section scripts{

        <!------------------------------------NOTIFICATIONS---------------------------------------------->
<script src="~/Scripts/dealerConcepts/services/admin/dealerConcepts.services.admin.notifications.js"></script>

<script src="~/Scripts/dealerConcepts/dealers/controllers/welcomeDealerRegistrationController.js"></script>

    <!-- Angular Controller-->
    <script type="text/javascript">
        (function () {
            "use strict"

            angular.module(APPNAME).controller('dealersController', DealersController);

            DealersController.$inject = ['$baseController'];

            function DealersController(
                $baseController) {

                var vm = this;

                $.extend(vm, $baseController);

                render();

                function render() {
                    vm.$log.debug("Angular ready");
                }
            }
        })();
    </script>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME).factory('dealerRegistrationEnums', dealerRegistrationEnums);

            //dealerRegistrationEnums.$inject = ['$baseService'];

            function dealerRegistrationEnums() {
                var dealerRegistrationEnumsObject = {

                    dealerShipkind : @typeof(DealershipKind).EnumToJson(1),
                    titleKind : @typeof(AdminTitleKind).EnumToJson(1),
                }

                //var service = $baseService.merge(true, {}, dealerRegistrationEnumsObject, $baseService);
                return dealerRegistrationEnumsObject;
            }
        }());
    </script>

    @*<script type="text/javascript">
        // Dealer Registration JS
        (function () {
            "use strict";

            angular.module(APPNAME).controller('DealerRegistrationController', DealerRegistrationController);

            DealerRegistrationController.$inject = ['$scope', '$baseController', 'dealerRegistrationEnums', 'dealerAccountInfoService', 'adminNotifications', 'model', '$window'];

            function DealerRegistrationController(
                $scope
                , $baseController
                , dealerRegistrationEnums
                , dealerAccountInfoService
                , adminNotifications
                , model
                , $window) {

                var vm = this;

                $baseController.merge(vm, $baseController);

                vm.$scope = $scope;

                // Services
                vm.dealerAccountInfoService = dealerAccountInfoService;
                vm.notify = vm.dealerAccountInfoService.getNotifier($scope);
                vm.dealerRegistrationEnums = dealerRegistrationEnums;
                vm.adminNotifications = adminNotifications;
                vm.model = model;

                // Drop Downs
                vm.dealerDropDown = vm.enums.dealershipKindEnum;
                vm.titleDropDown = vm.enums.titleKindEnum;

                // Variables
                vm.showNewDealerFormErrors = false;
                vm.submitButton = "Submit";
                vm.resetButton = "New Registration";
                vm.dealerId = vm.model.dealerId;
                vm.data = {}; // have to define this as an object so it can be read when you getById
                vm.editMode = null;
                vm.editMode = null;

                // Functions
                vm.onDealerFormSubmit = _onDealerFormSubmit;
                vm.OnDealerFormReset = _onDealerFormReset;

                render();

                function render() {
                    $window.scrollTo(0, 0);

                    var isAdmin = true;
                    vm.dealerAccountInfoService.setPrefix(isAdmin);

                    vm.$log.debug("Angular Ready");

                }
            }
        })();
    </script>*@

}
