
@{
    ViewBag.Title = "CreatePassword";
    Layout = "~/Views/Shared/_layoutDealer.cshtml";
}

@section styles{
    <link href="~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" rel="stylesheet" />
    <link href="~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
}


<div ng-controller="DealerRegistrationController as dealer">
    @*<div class="wrapper text-center">
        <div class="container">*@
    <!-- Begin Content -->
    <div class="col-md-12">
        <div class="row margin-bottom-40">
            <div class="col-md-12">
                <!-- Reg-Form -->
                <form class="sky-form" name="dealer.dealerPasswordForm" ng-submit="dealer.createPassword()" novalidate>
                    <header>Create Password</header>
                    <fieldset>
                        <div class="row">
                            <section class="col-md-12">
                                <label class="input">
                                    <input type="password" ng-model="dealer.data.password" name="password" id="inputpassword" placeholder="Password"
                                           ng-class="{'error': dealer.showNewDealerFormErrors && dealer.dealerForm.password.$invalid}" required>
                                </label>
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="dealer.showNewDealerFormErrors && dealer.dealerForm.password.$error.required">Input a password</span>
                                </div>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col-md-12">
                                <label class="input">
                                    <input type="password" ng-model="dealer.data.confirmPassword" name="confirmPassword" id="inputConfirmPassword" placeholder="Confirm Password"
                                           ng-class="{'error': dealer.showNewDealerFormErrors && dealer.dealerForm.confirmPassword.$invalid}" required>
                                </label>
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="dealer.showNewDealerFormErrors && dealer.dealerForm.confirmPassword.$error.required">Password confirmation is required</span>
                                </div>
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn-u" id="confirmPasswordButton">{{dealer.submitButton}}</button>
                    </footer>
                </form>
                <!-- End Reg-Form -->
            </div>
        </div>
    </div>
</div>


@section scripts{

    <!------------------------------------NOTIFICATIONS---------------------------------------------->
    <script src="~/Scripts/dealerConcepts/services/admin/dealerConcepts.services.admin.notifications.js"></script>
    <script src="~/Scripts/dealerConcepts/services/dealerConcepts.services.dealerAccountInfo.js"></script>

        <!-- Angular Controller-->
<script type="text/javascript">
        (function () {
            "use strict"

            angular.module(APPNAME).controller('dealersController', DealersController);

            DealersController.$inject = ['$baseController'];

            function DealersController(
                $baseController) {

                var vm = this;

                $.extend(vm, $baseController);

                render();

                function render() {
                    vm.$log.debug("Angular ready");
                }
            }
        })();
</script>

<script type="text/javascript">
        // Dealer Registration JS
        (function () {
            "use strict";

            angular.module(APPNAME).controller('DealerRegistrationController', DealerRegistrationController);

            DealerRegistrationController.$inject = [
                '$scope'
                , '$baseController'
                , 'dealerAccountInfoService'
                , 'adminNotifications'
                , '$window'];

            function DealerRegistrationController(
                $scope
                , $baseController
                , dealerAccountInfoService
                , adminNotifications
                , $window) {

                var vm = this;

                $baseController.merge(vm, $baseController);

                vm.$scope = $scope;

                // Services
                vm.dealerAccountInfoService = dealerAccountInfoService;
                vm.notify = vm.dealerAccountInfoService.getNotifier($scope);
                vm.adminNotifications = adminNotifications;

                // Variables
                vm.showNewDealerFormErrors = false;
                vm.submitButton = "Submit";
                vm.resetButton = "Create New Password";
                //vm.dealerId = vm.model.dealerId;
                vm.data = {}; // have to define this as an object so it can be read when you getById
                vm.editMode = null;
                vm.editMode = null;

                // Functions
                vm.onDealerFormSubmit = _onDealerFormSubmit;
                vm.OnDealerFormReset = _onDealerFormReset;

                render();

                function render() {
                    $window.scrollTo(0, 0);

                    var isAdmin = true;

                    vm.$log.debug("Angular Ready");

                }

                function _onDealerFormSubmit (){
                    vm.showNewDealerFormErrors = true;

                    if (vm.dealerRegForm.$valid && vm.termsAndCondBox) {
                        vm.dealerAccountInfoService.insert(vm.data, _onDealerCreateSuccess, _onDealerCreateError);
                    } else {
                            vm.adminNotifications.error("Please fill out all fields and agree to Terms and Conditions", "Error");
                    }
                }

                function _onDealerFormReset (){

                }

                function _onDealerCreateSuccess(data) {
                        vm.adminNotifications.success("Registration  submitted!", "Success");
                }

                function _onDealerCreateError() {
                    vm.adminNotifications.error("An error has occured!", "Error");
                }
            }
        })();
</script>

}
